# Supervised Learning
## Regression

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [2]:
#bring in the hard drive dataset
df = pd.read_csv(r"C:\Users\sheet\Dataset\data_Q2_2022\dataq2.csv",encoding='utf-8',header=0)
df.head()

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,0,2022-06-30,PL1331LAGSMWSH,HGST HMS5C4040ALE640,4000787030016,0,100.0,0.0,134.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2022-06-30,PL2331LAGSSWKJ,HGST HMS5C4040ALE640,4000787030016,0,100.0,0.0,133.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2022-06-30,PL2331LAGSU9VJ,HGST HMS5C4040ALE640,4000787030016,0,100.0,0.0,133.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2022-06-30,ZA1JWY0B,ST8000NM0055,8001563222016,0,84.0,243517744.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2022-06-30,PL2331LAGSST6J,HGST HMS5C4040ALE640,4000787030016,0,100.0,0.0,134.0,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Remove rows with missing values
df = df.fillna(0)

In [4]:
# number of hdd
print("number of hdd:", df['serial_number'].value_counts().shape) 

# number of different types of harddrives
print("number of different harddrives", df['model'].value_counts().shape)

number of hdd: (1460,)
number of different harddrives (41,)

In [5]:
df["end_date"] = df.groupby("serial_number")["date"].transform("max")

In [6]:
df.sort_values(by='date').head()

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,...,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw,end_date
131878,131878,2022-01-01,8CH171RE,HGST HUH721212ALN604,12000138625024,0,100.0,0.0,133.0,92.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-12
131200,131200,2022-01-01,Z302SZL7,ST4000DM000,4000787030016,0,117.0,120686288.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-02
131201,131201,2022-01-01,X8M0A00PF97G,TOSHIBA MG07ACA14TA,14000519643136,0,100.0,0.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-05-18
131202,131202,2022-01-01,ZL2L8N3T,ST16000NM001G,16000900661248,0,84.0,240047288.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-23
131203,131203,2022-01-01,ZL202P1M,ST16000NM001G,16000900661248,0,83.0,219973968.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-04-06

In [7]:
df["end_date"] = pd.to_datetime(df["end_date"])
df["date"] = pd.to_datetime(df["date"])

In [8]:
df["date_diff"] = df["end_date"] - df["date"]
df["date_diff"].describe()

count                        137685
mean     60 days 19:51:09.432400044
std      42 days 09:27:45.610650477
min                 0 days 00:00:00
25%                25 days 00:00:00
50%                54 days 00:00:00
75%                91 days 00:00:00
max               179 days 00:00:00
Name: date_diff, dtype: object

In [9]:
# create a new column 'Unique_value' which is the sum of 'serial_number' and 'model'
df['Unique_value'] = df['serial_number'] + df['model']

In [10]:
filter_col = [col for col in df if col.endswith('_raw')]
data = df.drop(columns= filter_col)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137685 entries, 0 to 137684
Data columns (total 96 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            137685 non-null  int64
 1   date                  137685 non-null  datetime64[ns]
 2   serial_number         137685 non-null  object
 3   model                 137685 non-null  object
 4   capacity_bytes        137685 non-null  int64
 5   failure               137685 non-null  int64
 6   smart_1_normalized    137685 non-null  float64
 7   smart_2_normalized    137685 non-null  float64
 8   smart_3_normalized    137685 non-null  float64
 9   smart_4_normalized    137685 non-null  float64
 10  smart_5_normalized    137685 non-null  float64
 11  smart_7_normalized    137685 non-null  float64
 12  smart_8_normalized    137685 non-null  float64
 13  smart_9_normalized    137685 non-null  float64
 14  smart_10_normalized   137685 non-null  float64
 15  smart_11_normalized   137685 non-null  float64
 16  smart_12_normalized   137685 non-null  float64
 17  smart_13_normalized   137685 non-null  float64
 18  smart_15_normalized   137685 non-null  float64
 19  smart_16_normalized   137685 non-null  float64
 20  smart_17_normalized   137685 non-null  float64
 21  smart_18_normalized   137685 non-null  float64
 22  smart_22_normalized   137685 non-null  float64
 23  smart_23_normalized   137685 non-null  float64
 24  smart_24_normalized   137685 non-null  float64
 25  smart_160_normalized  137685 non-null  float64
 26  smart_161_normalized  137685 non-null  float64
 27  smart_163_normalized  137685 non-null  float64
 28  smart_164_normalized  137685 non-null  float64
 29  smart_165_normalized  137685 non-null  float64
 30  smart_166_normalized  137685 non-null  float64
 31  smart_167_normalized  137685 non-null  float64
 32  smart_168_normalized  137685 non-null  float64
 33  smart_169_normalized  137685 non-null  float64
 34  smart_170_normalized  137685 non-null  float64
 35  smart_171_normalized  137685 non-null  float64
 36  smart_172_normalized  137685 non-null  float64
 37  smart_173_normalized  137685 non-null  float64
 38  smart_174_normalized  137685 non-null  float64
 39  smart_175_normalized  137685 non-null  float64
 40  smart_176_normalized  137685 non-null  float64
 41  smart_177_normalized  137685 non-null  float64
 42  smart_178_normalized  137685 non-null  float64
 43  smart_179_normalized  137685 non-null  float64
 44  smart_180_normalized  137685 non-null  float64
 45  smart_181_normalized  137685 non-null  float64
 46  smart_182_normalized  137685 non-null  float64
 47  smart_183_normalized  137685 non-null  float64
 48  smart_184_normalized  137685 non-null  float64
 49  smart_187_normalized  137685 non-null  float64
 50  smart_188_normalized  137685 non-null  float64
 51  smart_189_normalized  137685 non-null  float64
 52  smart_190_normalized  137685 non-null  float64
 53  smart_191_normalized  137685 non-null  float64
 54  smart_192_normalized  137685 non-null  float64
 55  smart_193_normalized  137685 non-null  float64
 56  smart_194_normalized  137685 non-null  float64
 57  smart_195_normalized  137685 non-null  float64
 58  smart_196_normalized  137685 non-null  float64
 59  smart_197_normalized  137685 non-null  float64
 60  smart_198_normalized  137685 non-null  float64
 61  smart_199_normalized  137685 non-null  float64
 62  smart_200_normalized  137685 non-null  float64
 63  smart_201_normalized  137685 non-null  float64
 64  smart_202_normalized  137685 non-null  float64
 65  smart_206_normalized  137685 non-null  float64
 66  smart_210_normalized  137685 non-null  float64
 67  smart_218_normalized  137685 non-null  float64
 68  smart_220_normalized  137685 non-null  float64
 69  smart_222_normalized  137685 non-null  float64
 70  smart_223_normalized  137685 non-null  float64
 71  smart_224_normalized  137685 non-null  float64
 72  smart_225_normalized  137685 non-null  float64
 73  smart_226_normalized  137685 non-null  float64
 74  smart_230_normalized  137685 non-null  float64
 75  smart_231_normalized  137685 non-null  float64
 76  smart_232_normalized  137685 non-null  float64
 77  smart_233_normalized  137685 non-null  float64
 78  smart_234_normalized  137685 non-null  float64
 79  smart_235_normalized  137685 non-null  float64
 80  smart_240_normalized  137685 non-null  float64
 81  smart_241_normalized  137685 non-null  float64
 82  smart_242_normalized  137685 non-null  float64
 83  smart_244_normalized  137685 non-null  float64
 84  smart_245_normalized  137685 non-null  float64
 85  smart_246_normalized  137685 non-null  float64
 86  smart_247_normalized  137685 non-null  float64
 87  smart_248_normalized  137685 non-null  float64
 88  smart_250_normalized  137685 non-null  float64
 89  smart_251_normalized  137685 non-null  float64
 90  smart_252_normalized  137685 non-null  float64
 91  smart_254_normalized  137685 non-null  float64
 92  smart_255_normalized  137685 non-null  float64
 93  end_date              137685 non-null  datetime64[ns]
 94  date_diff             137685 non-null  timedelta64[ns]
 95  Unique_value          137685 non-null  object
dtypes: datetime64[ns](2), float64(87), int64(3), object(3), timedelta64[ns](1)
memory usage: 100.8+ MB

In [12]:
# Convert the days column to integer data type
#data['date_diff'] = data['date_diff'].astype(int)
# Convert the timedelta column to an integer column representing the number of seconds
data['date_diff'] = data['date_diff'].apply(lambda x: x.total_seconds()).astype(float)

# Convert the timedelta column to a float column representing the number of seconds
#df['float_seconds'] = df['timedelta'].apply(lambda x: x.total_seconds()).astype(float)

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split



# Get the unique combinations of serial_number and model
unique_combinations = data[['serial_number', 'model']].drop_duplicates()

# Split the unique combinations into training and testing sets
train_combinations, test_combinations = train_test_split(unique_combinations, test_size=0.3, random_state=42)

# Filter the original dataset by the training and testing combinations
train = pd.merge(data, train_combinations, on=['serial_number', 'model'])
test = pd.merge(data, test_combinations, on=['serial_number', 'model'])

# Check that each unique combination of serial number and model is not present in both sets
assert len(set(train_combinations.index) & set(test_combinations.index)) == 0

In [14]:
train.head()

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_2_normalized,smart_3_normalized,smart_4_normalized,...,smart_247_normalized,smart_248_normalized,smart_250_normalized,smart_251_normalized,smart_252_normalized,smart_254_normalized,smart_255_normalized,end_date,date_diff,Unique_value
0,0,2022-06-30,PL1331LAGSMWSH,HGST HMS5C4040ALE640,4000787030016,0,100.0,134.0,136.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-30,0.0,PL1331LAGSMWSHHGST HMS5C4040ALE640
1,17,2022-06-27,PL1331LAGSMWSH,HGST HMS5C4040ALE640,4000787030016,0,100.0,134.0,136.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-30,259200.0,PL1331LAGSMWSHHGST HMS5C4040ALE640
2,45,2022-06-26,PL1331LAGSMWSH,HGST HMS5C4040ALE640,4000787030016,0,100.0,134.0,136.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-30,345600.0,PL1331LAGSMWSHHGST HMS5C4040ALE640
3,80,2022-06-28,PL1331LAGSMWSH,HGST HMS5C4040ALE640,4000787030016,0,100.0,134.0,136.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-30,172800.0,PL1331LAGSMWSHHGST HMS5C4040ALE640
4,107,2022-06-29,PL1331LAGSMWSH,HGST HMS5C4040ALE640,4000787030016,0,100.0,134.0,136.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-30,86400.0,PL1331LAGSMWSHHGST HMS5C4040ALE640

## Feature selection technique 1:Recursive Feature Elimination:

In [16]:
from sklearn.feature_selection import RFE
# Separate the target variable
X = data.drop(['date_diff','failure','date','serial_number','model','capacity_bytes','Unnamed: 0','end_date','Unique_value'], axis=1)
y = data['date_diff']

# Create a linear regression object
model = LinearRegression()

# Create an RFE object and select the number of features to keep
rfe = RFE(model, n_features_to_select=5)

# Fit the RFE object to the data
rfe.fit(X, y)

# Print the selected features
print(X.columns[rfe.support_])

Index(['smart_166_normalized', 'smart_168_normalized', 'smart_174_normalized',
       'smart_231_normalized', 'smart_235_normalized'],
      dtype='object')

In [ ]:
# Define the input features and output variable for the regression model
input_cols = ['smart_166_normalized', 'smart_168_normalized', 'smart_174_normalized',
       'smart_231_normalized', 'smart_235_normalized']
output_col = 'date_diff'

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# Train the regression model
reg = LinearRegression()
reg.fit(train[input_cols], train[output_col])

# Evaluate the model on the testing data
y_pred = reg.predict(test[input_cols])
mse = mean_squared_error(test[output_col], y_pred)

print(f"Mean squared error: {mse:.2f}")

Mean squared error: 13599306051064.04

## Feature selection technique 2:MI feature selection

In [27]:
#for regression problem

# establish target and features of the data
X = data.drop(['date_diff','failure','date','serial_number','model','capacity_bytes','Unnamed: 0','end_date','Unique_value'], axis=1)
y = data['date_diff']
##get train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [28]:
from sklearn.feature_selection import SelectKBest, mutual_info_regression

# Select the top K features based on their mutual information with the target variable
k = 10
selector = SelectKBest(score_func=mutual_info_regression, k=k)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# Train the regression model
reg = LinearRegression()
reg.fit(X_train_selected, y_train)

# Evaluate the model on the testing data
y_pred = reg.predict(X_test_selected)
mse = mean_squared_error(y_test, y_pred)

print(f"Mean squared error: {mse:.2f}")

Mean squared error: 13045826559843.89

## Feature selection technique 3:Lasso Regression:

In [33]:
from sklearn.linear_model import LassoCV
import pandas as pd

X = data.drop(['date_diff','failure','date','serial_number','model','capacity_bytes','Unnamed: 0','end_date','Unique_value'], axis=1)
y = data['date_diff']
# Create a LassoCV object
model = LassoCV()

# Fit the model to the data
model.fit(X, y)

# Get the coefficients and select the non-zero ones
coef = pd.Series(model.coef_, index=X.columns)
selected_features = coef[coef != 0].index.tolist()

# Print the selected features
print(selected_features)

['smart_1_normalized', 'smart_2_normalized', 'smart_3_normalized', 'smart_5_normalized', 'smart_7_normalized', 'smart_8_normalized', 'smart_9_normalized', 'smart_10_normalized', 'smart_12_normalized', 'smart_16_normalized', 'smart_18_normalized', 'smart_22_normalized', 'smart_23_normalized', 'smart_165_normalized', 'smart_166_normalized', 'smart_169_normalized', 'smart_177_normalized', 'smart_183_normalized', 'smart_184_normalized', 'smart_187_normalized', 'smart_188_normalized', 'smart_189_normalized', 'smart_190_normalized', 'smart_191_normalized', 'smart_193_normalized', 'smart_194_normalized', 'smart_195_normalized', 'smart_196_normalized', 'smart_197_normalized', 'smart_198_normalized', 'smart_199_normalized', 'smart_200_normalized', 'smart_201_normalized', 'smart_220_normalized', 'smart_222_normalized', 'smart_223_normalized', 'smart_224_normalized', 'smart_225_normalized', 'smart_226_normalized', 'smart_233_normalized', 'smart_234_normalized', 'smart_240_normalized', 'smart_241_normalized', 'smart_242_normalized', 'smart_254_normalized']

# Unsupervised Learning
## Hidden Markov Chain

In [23]:
from hmmlearn import hmm
# Train an HMM with two hidden states
model = hmm.GaussianHMM(n_components=2)

# Fit the model to the training data
model.fit(train[input_cols])

GaussianHMM(n_components=2)

In [24]:
# Evaluate the model on the testing data
y_pred = model.predict(test[input_cols])
y_pred = np.argmax(y_pred) # convert probabilities to class labels
# Compute the accuracy of the model
accuracy = sum(y_pred == test[output_col]) / len(test[output_col])
print(f"Accuracy: {accuracy}")

Accuracy: 0.0

In [25]:
from sklearn.metrics import classification_report
# Print classification report
if len(np.unique(y_pred)) == 1:
    # Handle the case where all predictions are the same
    print("All predictions are the same.")
else:
    y_pred = np.argmax(y_pred, axis=1)
    # Print classification report
    print(classification_report(y_test, y_pred))

All predictions are the same.

In [26]:

# Calculate the log-likelihood of the observed data under the model
log_likelihood = model.score(train[input_cols])

print("Log-likelihood:", log_likelihood)

Log-likelihood: 3369331.2855772595